body{
    background: url(../images/fundo.jpg);
    margin: 0;
}

.cabecalho{
    border: 1px solid rgb(165, 49, 3);
    margin: 0 150px;
    padding: 20px;
    background: rgb(165, 49, 3);
}

.cabecalho p{
    text-align: right;
    color: white;
    float: right;
    padding-top: 35px;
}

.menu ul{
    list-style-type: none;
    margin: 0 150px;
    padding: 3px 20px;
    overflow: hidden;
    background: rgb(226, 174, 0);
}

.menu li{
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    background: rgb(226, 174, 0);
}

.conteudo-principal{
    border: 1px solid white;
    margin: 0 150px;
    padding: 30px;
    background: white;
}

.lista-imagens{
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.lista-sabores{
    list-style-type: none;
    padding: 0;
}

h1{
    border-bottom: 1px solid black;
}

.rodape{
    background: rgb(48, 47, 47);
    color: white;
    margin: 0 150px;
    padding: 1px 30px;
}