body{
    background: url(../images/fundo.jpg);
    margin: 0;
    font-family: "Montserrat";
    color: rgb(48, 47, 47);
}

.cabecalho{
    border: 1px solid rgb(165, 49, 3);
    margin: 0 150px;
    padding: 20px;
    background: rgb(165, 49, 3);
}

.cabecalho p{
    text-align: right;
    color: white;
    float: right;
    padding-top: 35px;
}

.menu ul{
    list-style-type: none;
    margin: 0 150px;
    padding: 3px 20px;
    overflow: hidden;
    background: rgb(226, 174, 0);
}

.menu li{
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    background: rgb(226, 174, 0);
}

.conteudo-principal{
    border: 1px solid white;
    margin: 0 150px;
    padding: 30px;
    background: white;
}

.lista-imagens ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

h1{
    border-bottom: 1px solid black;
}

.cardapio ul{
    list-style-type: none;
    padding: 0;
    text-align: justify;
    column-count: 3;
    line-height: 20px;
}

.cardapio{
    display: inline-block;
}

.cardapio img{
    float: left;
}

.cardapio a{
    text-decoration: none;
    color: rgb(165, 49, 3);
}

#sobre-nos{
    padding-left: 120px;
}

.box-1 img{
    width: 130px;
}

.box-2{
    display: inline-block;
}

.box-2 li{
    list-style-type: none;
}

.formulario, .contato{
    display: inline-block;
}

.formulario{
    position: absolute;
}

.contato{
    padding-left: 70%;
    position: relative
}

.rodape{
    background: rgb(48, 47, 47);
    color: white;
    margin: 0 150px;
    padding: 1px 30px;
}
